
<nav class="main-header navbar navbar-expand-lg navbar-white navbar-primary">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item"
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars fa-lg" style="color:#0b325d"></i></a>
        </li>

    </ul>
    <div class="navbar-img text-center text-primary">
        <span class="nav-title"></span>
    </div>
    <ul class="navbar-nav ml-auto">
        @*<li class="nav-item" style="margin-right:10px">

                <select class="nav-link" id="selectLanguage">
                </select>
            </li>*@
        <!--<li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <i class="fas fa-user fa-lg"></i>-->
                @*<strong>@account.Fullname</strong>*@
                <!--<span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header">Tài khoản</span>
                <div class="dropdown-divider"></div>
                <a href="/user/changepass", class="dropdown-item">
                    <i class="fas fa-key"></i> Đổi mật khẩu
                </a>
                <div class="dropdown-divider"></div>
                <a href="User/login" class="dropdown-item">
                    <i class="fas fa-sign-out-alt"></i> Đăng xuất
                </a>
            </div>
        </li>-->
    </ul>
</nav>
<script>


</script>