
<div id="frmUpdate" class="form-horizontal">
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3" required>Tên phòng ban </label>
            <div class="col-sm-8">
                <input type="text" required class="form-control" id="txtName" placeholder="Tên phòng ban">
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3">Mô tả</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="txtDescription" placeholder="Mô tả">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label id="lbStatus" class="col-sm-2">Trạng thái</label>
            <div class="col-sm-4">
                @{
                        <input id="ckbStatus"  type="checkbox" class="custom-control">
                    
                }

            </div>
        </div>
    </div>
</div>
<script>
    var frmUpdate = $('#frmUpdate');
    $(document).ready(function () {
        addRequired(frmUpdate);
        frmUpdate.find('lbStatus').on('click', function () {
            frmUpdate.find('ckbStatus').prop('checked') = !frmUpdate.find('ckbStatus').prop('checked')
        })
    });

    $('#modal-form').find('#btnSave').off("click").on('click', function (e) {
        e.preventDefault();
        create();
    });
    function create() {
        if (ValidateForm(frmUpdate)) {
            return;
        }
        showLoading();
        $.ajax({
            url: urlDomain + "/create",
            method: "POST",
            data: {
                Name: frmUpdate.find('#txtName').val(),
                Descriptions: frmUpdate.find('#txtDescription').val()         
               
            }
            , success: function (response) {
                hideLoading()
                if (response.result) {
                    // datasource = response.data
                    showAlert("Thêm mới thành công", 2)
                    getData();
                    hideContentModal()

                } else {
                    showAlert(response.message)
                }
            }
        });
        function getData() {
            showLoading()
            $.ajax({
                url: urlDomain + "/getlist" ,
                method: "GET",
                data: {
                    title: frmFilter.find('#txtName').val(),
                    take: take,
                    skip: skip
                }
                , success: function (response) {
                    $('#dtTable').html(response);
                    hideLoading()
                }
            });
        }
    }

</script>


