
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoPermission</title>
</head>
<body>
    <div>
        <h1>
            Bạn k có quyền truy cập chưc năng này
        </h1>
    </div>
</body>
</html>
